<div class="container">

  <!-- <div class="loading">
    <div>
      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
    </div>
    <span>loading</span>
  </div> -->


  <h1 class="text-center">
    <span> {{repo_name}} commits </span>
    <br/>
    <a href="#!/profile/" class="btn btn-outline-secondary" >
      <i class="fas fa-arrow-left"></i> Back
    </a>
  </h1>

  <div class="container">
        <div class="panel-heading">
            <form class="form-inline">
                <span>
                    <h4>Commits <span class="badge">{{commitsData.length}}</span>
                      <input ng-model="searchText" placeholder="Find a commit..." class="form-control input-sm">
                    </h4>
                </span>
            </form>
        </div>

        <div class="panel-body">
          <div class="list-group">

            <table ng-table="comTable" class="table" show-filter="true">
              <tr ng-repeat="com in $data | filter:searchText  | orderBy:predicate:reverse" class="list-group-item ">
                <td data-title="date" class="td-text-small">{{com.commit.author.date | date :'medium'}}</td>
                <td data-title="message"><i class="far fa-comment-alt"></i> {{com.commit.message}}</td>
                <td data-title="author" class="td-text-small">{{com.commit.author.name}}</td>
                <td data-title="avatar"><img src="{{com.committer.avatar_url}}" alt="Avatar" class="avatar"></td>
              </tr>
            </table>

          </div>

        </div>

  </div>
</div>
