<div class="container">

  <div class="loading">
    <div>
      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
    </div>
    <span>loading</span>
  </div>

  <h1 class="text-center">
    <span> {{repo_name}} releases </span>
    <br/>
    <a href="#!/profile/" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i>  Back
    </a>
  </h1>

  <div class="container">
        <div class="panel-heading">
            <form class="form-inline">
                  <span>
                      <h4>Releases <span class="badge">{{releasesData.length}}</span>
                        <input ng-model="searchText" placeholder="Find a release..." class="form-control input-sm">
                      </h4>
                  </span>
            </form>

        </div>

        <div class="panel-body">
          <div class="list-group">

            <table ng-table="relTable" class="table" show-filter="true">
              <tr ng-repeat="rel in $data | filter:searchText  | orderBy:predicate:reverse" class="list-group-item ">
                <td data-title="tag" class="td-text-small"><i class="fas fa-tag"></i>{{rel.tag_name}}</td>
                <td data-title="name">{{rel.name}}</td>
                <td data-title="author" class="td-text-small">{{rel.author.login}}</td>
                <td data-title="avatar"><img src="{{rel.author.avatar_url}}" alt="Avatar" class="avatar"></td>
                <td data-title="published_at" class="td-text-small">  <span>Published at: </span>{{rel.published_at | date : short : timezone}} </td>
                <td data-title="release"> <a href="{{rel.html_url}}" class="btn btn-outline-secondary" target="_blank">Release note</a></td>
              </tr>
              </table>

          </div>

        </div>

  </div>
</div>
